{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1>{{ card['name'] }} {% if card['manaCost'] is defined %} | {{ card['manaCost'] }} {% endif %}</h1>
            {% if card['imageUrl'] is defined %}
                <img class="card-list" src="{{ card['imageUrl'] }}">
            {% endif %}
            <br>
            <span>{{ card['type'] }} | {{ card['rarity'] }}</span><br>
            <span>{{ card['text'] }}</span>

            <form action="{{ path('add_to_deck') }}" method="post">
                <label for="decks">Select deck:</label><br>
                <select name="deck" id="decks">

                    {% for deck in decks %}

                    <option value="{{ deck.id }}">{{ deck.name }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" value="{{ card['id'] }}" name="card">
                <input type="submit" value="Submit">
            </form>
        </div>

    </div>
{% endblock %}